main {
    display: flex;
    justify-content: center;
}

form {
    border: 3px solid black;
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    
}

footer {
    display: flex;
    margin: 10px;
    justify-content: center;
}

.footercard {
    border: 3px solid gray;
    border-radius: 10px;
    padding: auto;
    display: flex;
    flex-direction: column;
    width: 80%;
}

.card-header {
    display: flex;
    justify-content: center;
}
.card-body {
    display: flex;
    justify-content: space-around;
}